*{
    margin: 0%;
    padding: 0%;
}
body{
    background: rgba(0, 81, 255, 0.537);
}
.pgn{
    padding: 1.5vw;
    margin: 2vw 35vw 0px 35vw;
    background: rgba( 0, 79, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
@media (max-width: 825px){
    .pgn{
        margin: 1vw 15vw 0px 15vw;
    }
}
@media (max-width: 380px){
    .pgn{
        margin: 1vw 5vw 0px 5vw;
    }
}
header{
    text-align: center;
    width: 100%;

}
label{
    color: antiquewhite;
    font-family: cookie;
}
.ptext{
    color: aliceblue;
    margin: 2px;
    margin-bottom: 6px;
}
.provador-title{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titleh1{
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.page{
    text-align: center;
    width: 100%;
}
.inputs{
    border: 1px;
    color: black;
    width: 220px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
}
.pj-logo img{
  width: 12vw;
  object-fit: cover;
  object-position: bottom;
  border: #1d5da1 3px solid;
  border-radius: 50%;
}
.entrarbtn, .voltar{
    margin-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
    width: 100px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(21, 68, 255);
    color: #fff;
    border: none;
    text-decoration: none;
}
.entrarbtn:hover, .voltar:hover{
    border: #0056b3 2px solid;
    background-color: #007bff;
}
input[type="file"] {
    margin-top: 5px;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 5px;
}
input[type="file"]:hover {
    border-color: #0056b3;
}
input[type="file"]:focus {
    outline: none;
    border-color: #0056b3;
}
input[type="file"]::file-selector-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
input[type="file"]::file-selector-button:hover {
    background-color: #0056b3;
}
.cv{
    display: flex;
    justify-content: space-between;
}
