body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: cadetblue;
}

#header {
    text-align: center;
    padding: 20px 0;
    background-color: cadetblue;
}

#nome-loja {
    font-size: 24px;
    color: #000000;
}

#nome-loja-input {
    font-size: 24px;
    color: #000000;
    border: none;
    background-color: transparent;
    outline: none;
}

#foto-loja-container {
    text-align: center;
    margin-top: 10px;
}

#foto-loja {
    max-width: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

#foto-loja:hover {
    transform: scale(1.1);
}

#alterar-foto {
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

#endereco-loja {
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
}

#endereco-loja-input {
    font-size: 18px;
    color: #000000;
    border: none;
    background-color: cadetblue;
    outline: none;
}

#total-visitas {
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
}

#total-pecas {
    font-size: 16px;
    color: #000000;
}

#linha {
    width: 100%;
    border-top: 2px solid #000;
    margin-top: 20px;
}

#seus-produtos {
    text-align: center;
    padding: 20px 0;
    background-color: darkcyan;
}

.acao-produto {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #00CED1;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #000;
    text-align: center;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.categorias{
    width: 95%;
    height: 120px;
    margin: 0px 2.5% 0px 2.5%;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); 
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 20px;
    border: 2.2px solid rgba(255, 255, 255, 0.373);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.opccat{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.cat{
    transition: 0.3s ease;
    padding-top: 7px;
    margin-left: 6px;
    margin-top: 2px;
    text-align: center;
    width: 150px;
    height: 27px;
    background: rgb(23, 157, 157);
    border-radius: 10px;
    border-bottom: 3px solid black;;
}
.cat:hover{
    width: 155px; background:  rgb(41, 137, 137);
}
.cat a{
    color: azure; text-decoration: none;
}
.cattitle{ 
    margin-top: 5px; 
    margin-left: 10px; 
    color: rgb(57, 106, 106); 
    font-size: 30px; 
    font-family: Arial, Helvetica, sans-serif;}
#lixeira {
    display: block;
    margin: 20px auto;
    font-size: 24px;
    color: #FF0000;
    text-align: center;
    cursor: pointer;
}