body{
    background-color: rgb(47, 83, 84);
    background-image: url(img/corts.png), url(img/corts.png);
    background-size: 50%, 50%;
    background-position: top left, top right;
    background-repeat: no-repeat, no-repeat;
}

.menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    height: 6.3%;
    background-color: darkcyan;
    border-bottom: 3px solid whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.mn{
    text-decoration: none;
    color: black;
}
.mais, .cbd{
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.tit{
    font-size: 25px;
}
.todo{
    display: flex;
    flex-flow: column wrap;
}
.provador{
    margin-top: 5%;
}
.roupas{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.fla, .cr, .nirv{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.cbds{
    width: 20%;
}
#escolhas{
    background-color: rgb(92, 173, 173);
    text-decoration: none;
    padding: 10px;
    color: black;
    border: rgb(47, 77, 78) 1px solid; 
    border-radius: 20px;
}
#escolhas:hover, .num:hover, .din:hover, .alt:hover ,.pes:hover{
    background-color: rgb(78, 130, 131);
    border: 1px whitesmoke solid;
    color: beige;
}
footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 20%;
}
.rod{
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.logorod{
    width: 10%;
    border: 2px solid rgb(37, 69, 69);
    border-radius: 50%;
}

.inf{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 99%;
}
.num, .din, .alt ,.pes{
    width: 7%;
    background-color: rgb(92, 173, 173);
    padding: 10px;
    border: rgb(47, 77, 78) 1px solid; 
    border-radius: 20px;
}
