body{
    background-color: #deefe7;
}

.menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    height: 6.3%;
    background-color:#002333;
    border-bottom: 2.5px solid rgba(255, 255, 255, 0.517);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 0;
    margin-bottom: 15px;
    z-index: 1;
    content: '';
}
.mn{
    text-decoration: none;
    color: black;
}
.mais, .cbd{
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.tit{
    font-size: 25px;
}
.todo{
    display: flex;
    flex-flow: column wrap;
}
.roupas{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
@media (max-width: 630px) {
    .roupas{
      flex-direction: column;
    }
}
.fla, .cr, .nirv{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.cbds{
    width: 20%;
}
#escolhas{
    background-color: #159a9c;
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    text-wrap: nowrap;
}
footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 20%;
}
.rod{
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.logorod{
    width: 10%;
    border: 2px solid rgb(37, 69, 69);
    border-radius: 50%;
}

.inf{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 99%;
}
.num, .din, .alt ,.pes{
    width: 7%;
    background-color: white;
    padding: 10px;
    border: rgb(47, 77, 78) 1px solid; 
    border-radius: 20px;
}
.escalas, .yz, .busto{
    margin: 0.12%;
}
#escolhas:hover{
    background-color: #1f8688;

}
