* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0; /* Cor de fundo da página */
}

.tablet-container {
    width: 800px; /* Largura do tablet */
    height: 600px; /* Altura do tablet */
    background-color: #333;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablet-screen {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}

.main-content {
    flex: 8; /* 80% da largura */
    display: flex;
    flex-direction: column;
}

.content-main {
    flex: 8.5;
    background-color: #f0f0f0; /* Cor de fundo para visualização */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.content-bottom {
    flex: 1.5;
    background-color: #c0c0c0; /* Cor de fundo para visualização */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: relative;
}

.circle-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.circle-button {
    background-color: #007bff;
    color: white;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.circle-button:hover {
    background-color: #0056b3;
}

.sidebar {
    flex: 2; /* 20% da largura */
    background-color: #d0d0d0; /* Cor de fundo para visualização */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background-color: #007BFF; /* Azul */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #0056b3; /* Azul mais escuro */
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
    }

    .button {
        width: 100%;
        max-width: 300px; /* Limita a largura máxima dos botões */
    }
}

.floating-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.floating-button:hover {
    background-color: #0056b3;
}

model-viewer{
    background-color:#ffffff;
    width: 100%;
    height: 35vw;
    border: 2px solid rgba(255, 0, 0, 0.373);
    box-shadow: 22px 22px 22px rgba(0, 0, 0, 0.119);
    border-radius: 10%;
}
#centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Responsividade */
@media (max-width: 900px) {
    .tablet-container {
        width: 90%;
        height: auto;
    }

    .tablet-screen {
        flex-direction: column;
    }

    .main-content {
        flex: 8;
    }

    .sidebar {
        flex: 2;
    }

    .circle-buttons {
        position: static;
        flex-direction: row; /* Ajuste para horizontal em telas menores */
    }
}

@media (max-width: 600px) {
    .tablet-container {
        width: 100%;
        padding: 10px;
    }

    .main-content {
        height: 40vh;
    }

    .sidebar {
        height: 40vh;
    }

    .floating-button {
        padding: 8px 16px;
        font-size: 16px;
    }
    model-viewer{
        background-color:#ffffff;
        width: 100%;
        height: 60vw;
        border: 2px solid rgba(255, 0, 0, 0.373);
        box-shadow: 22px 22px 22px rgba(0, 0, 0, 0.119);
        border-radius: 10%;
    }
}
